#workskin .twt {
  float: center;
  max-width: 450px;
  min-width: 300px;
  margin: 0em auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

#workskin .twt-header {
  overflow: hidden;
  margin-bottom: -3em;
}

#workskin .twt-icon-container {
  float: left;
}

#workskin .twt-icon {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#workskin .twt-iconquote {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#workskin .twt-id {
  font-size: 1em;
  padding-left: 1em;
  overflow: hidden;
}

#workskin .twt-name {
  font-weight: bold;
}

#workskin .twt-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

#workskin .twt-handle {
  color: #657786;
}

#workskin .twt-handle:hover {
  cursor: pointer;
}

#workskin .twt-content {
  font-size: 1.3em;
  margin-bottom: -1em;
}

#workskin .twt-contentquote {
  margin-top: -1em;
  font-size: 1em;
}

#workskin .twt-timestamp {
  color: #657786;
  font-size: 1em;
}

#workskin hr.twt-sep,
#workskin hr.twt-sep-reply {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
}

#workskin hr.twt-sep-reply {
  margin-left: -20px;
  padding-right: 40px;
}

#workskin .twt-stat1 {
  color: #657786;
  font-size: 0.9em;
}

#workskin .twt-quotebox {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: -1em;
}

#workskin .twt-image {
  float: center;
  max-width: 100%;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: -1em;
}

#workskin .twt-replybox {
  margin-top: -2em;
}

#workskin .twt-icon-replycontainer {
  float: left;
}

#workskin .twt-replycontainer {
  padding-left: 1em;
  overflow: hidden;
}

#workskin .twt-replycontent {
  margin-top: -1em;
}

#workskin .twt-stat2 {
  color: #657786;
  font-size: 0.9em;
  margin-top: -1em;
}

#workskin .twt-social {
  float: left;
  margin-right: 2em;
  margin-bottom: -1em;
}

#workskin .twt-socialimg {
  height: 13px;
  margin-right: 3px;
}

#workskin .twt-hl {
  color: #1DA1F2;
}

#workskin .twt-hl:hover {
  text-decoration: underline;
  cursor: pointer;
}

#workskin .t_ {
  max-width: 540px;
  font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  display: table;
  margin: auto;
  color: #444444;
  box-sizing: border-box;
}

#workskin .t_body {
  background-color: #ffffff;
  border-radius: 3px;
  border-style: solid;
  border-width: .1em;
  border-color: #dddddd;
  float: left;
  position: relative;
  padding: 15px 0 0;
  width: 540px;
}

#workskin .t_url,
#workskin .t_photourl {
  position: relative;
  top: -.2em;
  font-weight: 700;
  font-size: 14px;
  margin-left: 20px;
  line-height: 20px;
  height: 20px;
}

#workskin .t_photourl {
  display: block;
}

#workskin .t_text {
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  line-height: 21px;
  font-size: 14px;
  width: 92%;
  word-wrap: break-word;
}

#workskin .t_text a {
  color: #444444;
}

#workskin .t_h {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  width: 92%;
  word-wrap: break-word;
}

#workskin .t_tags {
  display: inline-block;
  width: 92%;
  font-size: 13px;
  color: #8f8f8f;
  margin-top: 15px;
  line-height: 20px;
  position: relative;
  margin-left: 20px;
}

#workskin .t_tag {
  margin-left: 12px;
}

#workskin .t_tag:first-of-type {
  margin-left: 0px;
}

#workskin .t_notes {
  font-size: 14px;
  font-weight: bold;
  color: #8f8f8f;
  line-height: 45px;
  position: relative;
  margin-left: 20px !important;
  display: inline-block;
}

#workskin .t_icons {
  height: 45px;
  width: auto;
  float: right;
  margin-right: 10px;
}

#workskin .t_one {
  width: 540px;
  margin: 4px 0 0 0;
  vertical-align: top;
}

#workskin .t_img {
  max-width: 100%;
  height: auto;
}

#workskin .t_two,
#workskin .t_three {
  margin: 4px 0 0 4px;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
}

#workskin .t_two {
  width: 268px;
  height: 177px;
}

#workskin .t_three {
  height: 120px;
  width: 177px;
}

#workskin .portrait {
  height: 412px;
}

#workskin .short {
  height: 50px;
}

#workskin .left {
  margin-left: 0 !important;
  float: left;
}

#workskin .right {
  float: right;
}

#workskin .mid {
  width: 178px !important;
}

#workskin .t_quote {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 1px;
  margin-left: 35px;
  line-height: 42px;
  font-size: 36px;
  width: 89%;
  word-wrap: break-word;
  font-family: Georgia, serif;
  text-indent: -15px;
}

#workskin .t_quote:before {
  content: "\201C";
}

#workskin .t_quote:after {
  content: "\201D";
}

#workskin .quotesourcedash {
  width: 20px;
  margin-left: 20px;
}

#workskin .quotesource {
  display: inline-block;
  margin-bottom: 15px;
  line-height: 21px;
  font-size: 14px;
  width: 90%;
  word-wrap: break-word;
}

#workskin .t_ask {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  float: left;
  position: relative;
  padding: 15px 14px 18px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  line-height: 21px;
  font-size: 14px;
  width: 80%;
  word-wrap: break-word;
}

#workskin .t_asktip {
  display: inline;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #f2f2f2;
  right: -8px;
  top: 10px;
}

#workskin .t_askicon {
  display: inline-block;
  float: right;
  height: 37px;
  width: 37px;
  margin-top: 15px;
  border-radius: 2px;
  margin-right: 15px;
}

#workskin .t_asker {
  color: #a6a6a6;
  font-size: 13px;
  display: inline-block;
  width: 100%;
  line-height: 21px;
  margin-bottom: 7px;
}

#workskin .t_chat {
  display: inline-block;
  font-size: 14px;
  width: 92%;
  line-height: 1.4;
  font-family: Courier, monospace;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  margin-top: 15px;
  margin-left: 20px;
}

#workskin .t_line {
  display: block;
  padding-top: 6px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-left: 0px;
  width: 100%;
}

#workskin .t_line:first-of-type {
  padding-top: 0px;
}

#workskin .t_line:last-of-type {
  padding-bottom: 0px;
}

#workskin .t_line:nth-of-type(even) {
  background: #fdfdfd;
}

#workskin .strong {
  font-weight: 700;
}

#workskin .t_line>strong:after {
  content: "\A0";
}

#workskin .reblog {
  height: 15px;
  width: auto;
}

#workskin .reblogheader {
  position: relative;
  line-height: 25px;
  padding-top: 15px;
  padding-left: 20px;
  width: 96%;
  display: inline-block;
  border-top: 1px solid #e7e7e7;
  margin-top: 5px;
}

#workskin .reblogurl {
  position: relative;
  top: -.2em;
  font-weight: 700;
  font-size: 13px;
  margin-top: 50px;
  margin-bottom: 10px;
  line-height: 25px;
  height: 25px;
  color: #8f8f8f;
}

#workskin .reblogicon {
  border-radius: 2px;
  width: 25px;
  height: 25px;
  vertical-align: baseline;
}

#workskin .sourceurl {
  position: relative;
  font-weight: 700;
  font-size: 13px;
  vertical-align: top;
  display: inline-block;
}

#workskin .reblogorigin {
  width: 100%;
  word-wrap: break-word;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 20px;
}

#workskin .reblogtext {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 21px;
  font-size: 14px;
  width: 92%;
  word-wrap: break-word;
}

#workskin .reblogtext a {
  color: #444444;
}