<nav class="site-nav">
    <div class="nav-content">
        <a href="index.html" class="home-link">
            <img src="assets/Bluish_Frog_Logo_transparent.png" alt="Home">
        </a>
        <span class="separator"></span>
        <a href="document_builder.html">Document Builder</a>
        <span class="separator"></span>
        <a href="account_database.html">Account Database</a>
        <span class="separator"></span>
        <a href="documentation.html">User Guide</a>
    </div>
</nav>